clojure
coffeescript
csharp
elisp
elixir
erlang
fsharp
go
haskell
java
javascript
lfe
lisp
lua
objective-c
ocaml
plsql
php
ruby
rust
scala
scheme
swift
eclipse
build
.settings
xcode
*.pyc
.cache
__pycache__
